In [1]:
"""
Этот модуль загружает данные из CSV-файла.

и обрабатывает их с помощью библиотеки pandas.
"""

import pandas as pd

In [5]:
file_path = "C:/Users/Oleg/Downloads/lesson_1_data (1).csv"

df_r = pd.read_csv(file_path, encoding="windows-1251", sep=";")
df_f = pd.read_csv(file_path, encoding="windows-1251", sep=";")

df_full_name = df_r + df_f

In [ ]:
# df.head(3)# выводим первые 3 столбца навой таблицы

In [ ]:
# df.tail(1)# выводим последние столбцы

In [12]:
# df.shape # (292, 8) выводим 292 строки 8 колонок

(292, 8)

In [ ]:
# df.dtypes # выводим типы данных

In [ ]:
# f.describe()  # анализирует данные

In [9]:
# df.columns  # Вызывае название калоники

Index(['number', 'create_date', 'payment_date', 'title', 'status', 'money',
       'city', 'payment_system'],
      dtype='object')

In [ ]:
df_ful = df_full_name.rename(
    columns={
        "Номер": "number",
        "Дата создания": "create_date",
        "Дата оплаты": "payment_date",
        "Title": "title",
        "Статус": "status",
        "Заработано": "maney",
        "Город": "city",
        "Платежная система": "payment_system",
    }
)

In [ ]:
df_ren = df_full_name.rename(columns={"maney": "money"})
df_ren1 = df_full_name.rename(columns={"Номер": "number"})

In [ ]:
all_maney = df_full_name.money.sum()  # Подсчитали общую сумму курсов
all_maney

In [21]:
money_by_city = (
    df_full_name.groupby(["title", "city"], as_index=False)
    .aggregate({"maney": "sum"})
    .sort_values("maney", ascending=False)
)

# df.groupby('title', as_index=False)
# Эта строка группирует фрейм данных df по столбцу 'title'.
#  Функция groupby собирает все строки с одинаковым значением
# в столбце 'title' в отдельные группы.
# Параметр as_index=False гарантирует, что столбец 'title'
# не будет использоваться в качестве индекса в результирующем

# Функция groupby
# собирает все строки с одинаковым значением в столбце 'title'
# в отдельные группы. Параметр as_index=False гарантирует,
# что столбец 'title' не будет использоваться в качестве
# индекса в результирующем фрейме данных.

# aggregate({'mane': 'sum'})

# Эта строка применяет функцию агрегирования к каждой группе,
# вычисляя сумму столбца "many" внутри каждой группы.
# Функция агрегирования используется для указания операции
# агрегирования и столбцов, к которым она должна быть применена.
# В этом случае он агрегирует столбец 'mane', используя функцию 'sum'.

# Функция sort_values
# позволяет вам указать столбец для сортировки
# (в данном случае "many") и в каком порядке следует
# выполнять сортировку: по возрастанию (ascending=True)
# или по убыванию (ascending=False).

In [24]:
all_maney = df_full_name.money.sum()  # Подсчитали общую сумму курсов
all_maney

992103.5900000001

In [ ]:
money = (
    df_full_name.groupby(["title", "city"], as_index=False)
    .aggregate({"money": "sum"})
    .sort_values("money", ascending=False)
)  # сортируем ascending=False
money

In [244]:
money.to_csv("money.csv", index=False)  # Сохраняем фаил

In [ ]:
df = pd.read_csv("C:/Users/Oleg/Downloads/lesson")

df_second = pd.read_csv("_1_data (1).csv", encoding="windows-1251", sep=";")

df_full = df + df_second

df_col = df_full.rename(
    columns={
        "Номер": "number",
        "Дата создания": "create_date",
        "Дата оплаты": "payment_date",
        "Title": "title",
        "Статус": "status",
        "Заработано": "money",
        "Город": "city",
        "Платежная система": "payment_system",
    }
)

money_sum = (
    df.query("'status' == 'Завершен'")
    .groupby(["title", "city"], as_index=False)
    .aggregate({"money": "sum", "number": "count"})
    .sort_values("money", ascending=True)
    .rename(columns={"number": "succes_orders"})
)

money_sum.money.sum()

In [ ]:
money_sum.money.sum()

In [34]:
money_by_city.to_csv("money_by_city.csv", index=False)

In [47]:
all_maney

992103.5900000001