In [2]:
"""
Этот модуль выполняет обработку.

данных с использованием библиотеки pandas.
"""

import pandas as pd

In [ ]:
df_orig = pd.read_excel("https://raw.githubusercontent.com/")
df_copy = "dm-fedorov/pandas_basic/master/pic/currency_cleanup.png"

df_resalt = df_orig + df_copy

df_resalt

<img src="https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/pic/currency_cleanup.png">

In [34]:
df_orig["Sales"].astype("float")  # Метод не работает не удаться
# преобразовать строку в число с плавающий точкой

In [ ]:
df = df_orig.copy()  # копируем df_orig в df
df

In [ ]:
df.info()  # Информация о нашем df

In [ ]:
df.dtypes  # Показывает информацию о типах данных

In [ ]:
dir(df["Sales"])  # Выводим методы

In [ ]:
df["Sales"] = df["Sales"].str.replace(",", "")
df["Sales"] = df["Sales"].str.replace("$", "")

df["Sales"]

In [ ]:
df = df_orig.copy()

# Применение функции type к каждому элементу столбца "Sales"
df["Sales_Type"] = df["Sales"].apply(lambda x: type(x).__name__)

print(df)

In [55]:
df["Sales_Type"] = df["Sales"].apply(lambda x: type(x).__name__)

df

         Customer      Sales Sales_Type
0  Jones Brothers        500        int
1       Beta Corp  $1,000.00        str
2     Globex Corp      300.1      float
3            Acme    $750.01        str
4         Initech        300        int
5           Hooli        250        int

In [ ]:
type_series = df["Sales"].apply(
    lambda x: str(type(x))
)  # Показывает количество типов данных